<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    convertDeprecationsToExceptions="false"
    convertWarningsToExceptions="false"
    failOnWarning="false"
>
    <testsuites>
        <testsuite name="AIWAF Test Suite">
            <directory suffix=".php">tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED &amp; ~E_USER_DEPRECATED &amp; ~E_STRICT"/>
    </php>
</phpunit>
